@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,600;1,400;1,500;1,600&display=swap');
*{
   padding: 0;
   margin: 0;
   
}
.btns{
    display: flex;
    font-family: Rubik, sans-serif;
    margin: 50px 350px;
    gap: 20px;
  }
  .green-button{
    font-size: 11px;
    background-color: hsl(171, 66%, 44%);
    color: white;
    text-align: center;
    height: 60px;
    width: 300px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 35px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  
  .blue-button{
    font-size: 11px;
    background-color:hsl(233, 100%, 69%); 
    color: white;
    text-align: center;
    height: 60px;
    width: 300px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  @media screen and (max-width : 375px) {
    .btns{
      flex-direction: column;
      margin: 50px 0;
    }
  }
    
  